html, body{
  /* background: rgb(235,147,9);
  background: linear-gradient(90deg, rgba(235,147,9,1) 2%, rgba(237,210,9,1) 80%, rgba(255,229,4,1) 93%); */
  background: #f7e7ce;
  height: 100vh;
}
.App {
  text-align: center;
  
}
/* .container{
  background-color:rgb(255, 253, 208);
} */


.dashboard-apiSuggestions{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 20px;
}

.api-img img{
  width: 250px;
  height:auto
}
.events-componentUD{
  margin-bottom: 20px;
}

.dashboard-cookbook{
  margin-bottom: 20px;
}